@model TritonExpress.Models.TritonWaybill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TritonWaybill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WayBillInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WayBillInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WauBillweight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WauBillweight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfParcels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfParcels)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.wayBillID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
