@model IEnumerable<TritonExpress.Models.TritonExpressWaybill>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i><b>Add New Waybill</b></a>
</p>
<p>
    @Html.ActionLink("Vehicles", "Index", "TritonExpressVehicles", null, null)
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color" style="float:right">
        <p>
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-secondary" />
        </p>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> @Html.DisplayNameFor(model => model.RecipientName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cell)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Date)</a>
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.WayBillweight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfParcels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cell)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
             
                <td>
                    @Html.DisplayFor(modelItem => item.WayBillweight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfParcels)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.wayBillID" class="btn btn-warning"><i class="fa fa-pencil"></i>Edit</a><br/>
                    <a asp-action="Details" asp-route-id="@item.wayBillID" class="btn btn-success"><i class="fa fa-info-circle"></i>Details</a><br/>
                    <a asp-action="Delete" asp-route-id="@item.wayBillID" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
