@model IEnumerable<TritonExpress.Models.TritonExpressVehicle>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i><b>Add New Vehicle</b></a>
</p>

<p>
    @Html.ActionLink("Waybills", "Index", "TritonExpressWaybills", null, null)
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color" style="float:right">
        <p>
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-secondary" />
        </p>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicleyear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiclemake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiclemodel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiclereg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wayBillID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehicleyear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehiclemake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehiclemodel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehiclereg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wayBillID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning"><i class="fa fa-pencil"></i>Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-success"><i class="fa fa-info-circle"></i>Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
